include ../../../components/input/index.pug
include ../../../components/button/save.pug
include ../../../components/button/cancel.pug

script.
    let modulesField = [];

    const modulesIncludes = (moduleId) => {
        const module = modulesField.find(module => module.id === moduleId);
        return !!module;
    }

div
    form(id="_company_form")
        div.group
            input(hidden=true id="company_form_id" name="id" value= "")
            +Input({ name: "company_form_name", value: "", title: "Nome", type: "text", })
        div
            p Módulos
            div.group
                each module in modules
                    div
                        input(checked=false onclick=`handleSetModule('${module.id}')` type="checkbox" id=module.id, name="company_form_modules")
                        span &nbsp; #{module.name}
        div.group.right
            +ButtonSave()
            +ButtonCancel({ callback: `toggleModal('${modalId}')` })

script.
    const idField = document.getElementById('company_form_id');
    const nameField = document.getElementById('company_form_name');

    const handleSetModule = (moduleId) => {
        const includes = modulesIncludes(moduleId);
        modulesField = modulesField.filter(module => module.id !== moduleId);
        if (!includes) modulesField.push({ id: moduleId });
    }

    const emptyModulesCheckbox = () => {
        const modulesElements = document.getElementsByName('company_form_modules');
        if (modulesElements.length) {
            modulesElements.forEach(module => module.checked = false)
        }
    }

    const handleOpenFormModal = (modalId, id = '') => {
        emptyModulesCheckbox()
        if (id) {
            fetch(`/administrator/companies/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then((res) => {
                if (!res.ok) throw new Error('Algo de errado aconteceu.');
                return res.json()
            })
            .then(json => {
                if (idField) idField.value = json.id;
                if (nameField) nameField.value = json.name;
                modulesField = [];
                if (json.modules) {
                    json.modules.forEach(module => {
                        modulesField.push({ id: module.id })
                        const elementCheckModule = document.getElementById(`${module.id}`)
                        if (elementCheckModule) {
                            elementCheckModule.checked = modulesIncludes(module.id) ? true : false 
                        }
                    })
                }
                toggleModal(modalId);
            })
            .catch((err) => {
                console.error(err);
                alert(err.message);
            });
        } else {
            if (idField) idField.value = '';
            if (nameField) nameField.value = '';
            modulesField = [];
            toggleModal(modalId);
        }
    }

    const handleSubmiteCategoryForm = (e) => {
        e.preventDefault();
        const id = idField.value;
        const name = nameField.value;
        const method = id ? 'PUT' : 'POST'
        payload = { id, name, modules: modulesField }
        fetch(`/administrator/companies/${id}`, {
            method,
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        alert('Atualizado com sucesso');
        document.location.reload();
      })
      .catch((err) => {
        console.error(err);
        alert(err.message);
      });
    }
    

    const form = document.getElementById("_company_form");
    if (form) {
        form.addEventListener("submit", async function (e) {
            handleSubmiteCategoryForm(e);
        });
    }
    