doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    meta(name="robots" content="index, follow")
    meta(name="author" content="Luciano Zangeronimo")
    meta(name="language" content="pt-br")
    if seo
      link(rel="canonical", href=seo.canonical)
      meta(name="description" content=seo.description)
      meta(name="keywords", content=seo.keywords)
      if seo.image
        meta(name="image", content=seo.image)
      title #{seo.title}
    link(async rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
    link(async rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap")
    style
      include ../styles/global.scss
    //- <!-- Google tag (gtag.js) -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-ZWLHB9JZBQ")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZWLHB9JZBQ');
  body
    div.container
      |!{header(dynamicPugFilePathFromVariable)}
      |!{sidebar(dynamicPugFilePathFromVariable)}
      article.content
        |!{root(dynamicPugFilePathFromVariable)}
        |!{footer(dynamicPugFilePathFromVariable)}
    script(type='text/javascript', src='/public/js/sidebar.js')
