doctype html
html(lang="pt-BR")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    meta(name="robots" content="index, follow")
    meta(name="author" content="Luciano Zangeronimo")
    meta(name="language" content="pt-br")
    if seo
      link(rel="canonical", href=seo.canonical)
      meta(name="description" content=seo.description)
      meta(name="keywords", content=seo.keywords)
      if seo.image
        meta(name="image", content=seo.image)
      title #{seo.title}
      if seo.recipe
        script.
          {
            "@context": "https://schema.org",
            "@graph": [
              {
                "@type": "FAQPage",
                "mainEntity": {
                  "@type": "Question",
                  "acceptedAnswer": {
                    "@type": "Answer"
                  }
                }
              },
              {
                "@type": "Recipe",
                "name": #{seo.recipe.recipe.name},
                "description": #{seo.description},
                "keywords": #{seo.keywords},
                "recipeCuisine": #{seo.recipe.recipe.category.name},
                "recipeYield": #{seo.recipe.rate},
                //- "datePublished": "2022-10-07T06:59:35-0300",
                //- "prepTime": "PT5M",
                //- "cookTime": "PT5M",
                //- "totalTime": "PT5M",
                "recipeInstructions": [
                  {
                    "@type": "HowToSection",
                    "name": "Modo de Preparo",
                    "itemListElement": [
                      {
                        "@type": "HowToStep",
                        "text": #{seo.recipe.recipe.preparation},
                      },
                    ]
                  },
                ],
                "recipeIngredient": [
                    #{seo.recipe.recipe.ingredients}
                ],
                "recipeCategory": #{seo.recipe.recipe.category.name},
                "author": {
                  "@type": "Person",
                  "name": "Receitas MaisReceitas"
                },
                "image": {
                  "@type": "ImageObject",
                  "representativeOfPage": "True",
                  "url": '#{seo.image}'
                },
                "aggregateRating": {
                  "@type": "AggregateRating",
                  "ratingValue": #{seo.recipe.rate},
                  "ratingCount": #{seo.recipe.rateSize}
                }
              },
              {
                "@type": "WebSite",
                "name": "Receitas MaisReceitas",
                "url": "https://maisreceitas.com.br",
                "potentialAction": {
                  "@type": "SearchAction",
                  "target": {
                    "@type": "EntryPoint",
                    "urlTemplate": "https://maisreceitas.com.br/pesquisar?search={search_term_string}"
                  },
                  "query-input": "required name=search_term_string"
                }
              }
            ]
          }
    link(defer rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap")
    link(defer rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap")
    script(async src="https://kit.fontawesome.com/984926c998.js" crossorigin="anonymous")
    style
      include ../styles/global.scss
    //- <!-- Google tag (gtag.js) -->
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-ZWLHB9JZBQ")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-ZWLHB9JZBQ');
  body
    div.container
      |!{header(dynamicPugFilePathFromVariable)}
      |!{sidebar(dynamicPugFilePathFromVariable)}
      div.content_wrap
        article.content
          |!{root(dynamicPugFilePathFromVariable)}
        |!{footer(dynamicPugFilePathFromVariable)}
    script(type='text/javascript', src='/public/js/sidebar.js')
    script(type='text/javascript', src='/public/js/newsletter.js')
    script(type='text/javascript', src='/public/js/global.js')
