style
  include styles.module.scss

if withPicture.length > 0
  div
    if title
      h2.recipe_image_label #{title}
    div.recipe_image_item
      each recipe in withPicture
        a(href=`/receita/${recipe.slug}` title=`Receita de ${recipe.name}`)
          div.recipe_image_card
            img(src=`${apiUrl}${recipe.images[0]}`, alt=`Receita de ${recipe.name}`)
            p.recipe_image_card_label #{recipe.name}
              if recipe.getRate()
                span._rating_stars #{recipe.getRate().toStars()}
