include ../../../components/input/index.pug
include ../../../components/fileUpload/index.pug
include ../../../components/select/index.pug
include ../../../components/button/save.pug
include ../../../components/button/cancel.pug

div
    form(id="_banner_form")
        div
            input(hidden=true id="banner_form_id" name="id" value= "")
            div.group
                +Input({ name: "banner_form_title", value: "", title: "Título", type: "text", })
            div.group
                +Input({ name: "banner_form_url", value: "", title: "URL", type: "text", })
            div.group
                +Select({ name: "banner_form_active", value: "", title: "Ativo", datas:[{value:"", label:"Selecione"}, {value:"1", label:"Sim"}, {value:"0", label:"Não"}] })
                +Select({ name: "banner_form_category", value: "", title: "Categoria", datas:[{value:"", label:"Selecione"}, ...categoriesSelectData] })
            div.group
                +FileUpload({ name: "banner_form_imageUpload" })
            div.group.center
                img(id="banner_form_image" src=baseUrl alt="image" hidden)
        div.group.right
            +ButtonSave()
            +ButtonCancel({ callback: `toggleModal('${modalId}')` })

script.
    const idField = document.getElementById('banner_form_id');
    const titleField = document.getElementById('banner_form_title');
    const urlField = document.getElementById('banner_form_url');
    const activeField = document.getElementById('banner_form_active');
    const categoryField = document.getElementById('banner_form_category');
    const imageField = document.getElementById('banner_form_image');
    
    const handleOpenFormModal = (modalId, baseUrl, id = '') => {        
        if (id) {
            fetch(`/publicity/banners/${id}`, {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                },
            })
            .then((res) => {
                if (!res.ok) throw new Error('Algo de errado aconteceu.');
                return res.json()
            })
            .then(json => {
                if (idField) idField.value = json.id;
                if (titleField) titleField.value = json.title;
                if (urlField) urlField.value = json.url;
                if (activeField) activeField.value = json.active;
                if (categoryField) categoryField.value = json.categoryId;
                if (imageField) {
                    imageField.src = '';
                    imageField.hidden = true;
                }
                if (json.image) {
                    imageField.src = baseUrl + json.image
                    imageField.hidden = false;
                }
                toggleModal(modalId);
            })
            .catch((err) => {
                console.error(err);
                alert(err.message);
            });
        } else {
            if (idField) idField.value = '';
            if (titleField) titleField.value = '';
            if (urlField) urlField.value = '';
            if (activeField) activeField.value = '';
            if (categoryField) categoryField.value = '';
            if (imageField) {
                imageField.src = '';
                imageField.hidden = true;
            }
            toggleModal(modalId);
        }
    }

    const handleSubmiteCategoryForm = async(e) => {
        e.preventDefault();
        const id = idField.value;
        const title = titleField.value;
        const url = urlField.value;
        const active = activeField.value;
        const bannerCategory = categoryField.value;
        const imageUploadField = document.getElementById('banner_form_imageUpload');
        let imageUpload = '';
        if (imageUploadField) imageUpload = await toBase64(imageUploadField.files[0])
        const method = id ? 'PUT' : 'POST'
        payload = { id, title, url, bannerCategory, active, imageUpload }
        fetch(`/publicity/banners/${id}`, {
            method,
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(payload),
        })
      .then((res) => {
        if (!res.ok) throw new Error('Algo de errado aconteceu.');
        return res.json()
      })
      .then(json => {
        alert('Atualizado com sucesso');
        document.location.reload();
      })
      .catch((err) => {
        console.error(err);
        alert(err.message);
      });
    }
    
    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = reject;
    });

    const form = document.getElementById("_banner_form");
    if (form) {
    form.addEventListener("submit", async function (e) {
        handleSubmiteCategoryForm(e);
    });
    }