style
  include styles.module.scss

div.dashboard
  div
    |!{news(dynamicPugFilePathFromVariable)}
  div.group.space_around
    each banner in banners
      a(href=`/banner/${banner.id}` title=banner.title target="_blank")
        img.banner_galery_image(id=`_recipe_photo_galery_${banner.id}` src=`${apiUrl}${banner.image}` alt=banner.title)
    
  div
    |!{recipeWithImage(dynamicPugFilePathFromVariable)}

