style
    include styles.scss 

div(id=`${id}`).modal_container
    div(onclick=closeOnOverlay ? `toggleModal('${id}')` : '').modal_overlay
    div.modal_modal
        div.modal_header
            h5.modal_header_title #{title}
            button(title="Fechar" onclick=`toggleModal('${id}')`) &times;
        if children
            div.modal_content
                |!{children(dynamicPugFilePathFromVariable)}

script.
    const toggleModal = (id) => {
        const modal = document.getElementById(id)
        if (modal) {
            modal.hasAttribute('show') ? _hideModal(modal) : _showModal(modal)
        }
    }

    const _showModal = (modal) => {
        document.body.setAttribute('modal', true)
        modal.setAttribute('show', true)
    }

    const _hideModal = (modal) => {
        document.body.removeAttribute('modal')
        modal.removeAttribute('show')
    }