style
  include styles.module.scss

div(id="_maisreceitas_sidebar").sidebar.item
  div.title
    h2 Categorias
    button(onclick="showSideBar()") &times;
  each level in levels
    ul(onclick=`showSubMenu('${level.id}')`)
      li.sidebar_item
        div #{level.name}
        ul(id=level.id).sub_items
          each category in level.categories
            li
              a(href=`/categoria/${level.slug}/${category.slug}` title=category.name) #{category.name}
