include ../../components/input/index.pug
include ../../components/select/index.pug
include ../../components/button/search.pug
include ../../components/button/clear.pug
include ../../components/button/edit.pug
include ../../components/button/delete.pug
include ../../components/orderBy/index.pug

style
  include ../../../styles/datagrid.scss
  include  styles.scss

div.rating
  div.box
    form
      div.group
        +Input({ name: "name", value: model.name, title: "Nome", type: "text", })
        +Select({ name: "active", value: `${model.active}`, title: "Ativo", datas:[{value:"", label:"Todos"}, {value:"1", label:"Sim"}, {value:"0", label:"Não"}] })
      div.group.right
        +ButtonSearch()
        +ButtonClear()
  div.box
    div.datagrid
      div.table_container
        table
          thead
            tr
              th.datagrid_left 
                span Receita
              th.datagrid_left 
                +OrderBy('Nome','name')
              th.datagrid_right
                +OrderBy('Nota', 'rate', true)
              th
                +OrderBy('Ativo', 'active', true)
              th
                +OrderBy('Criado', 'created_at', true)
              th
                +OrderBy('Atualizado', 'updated_at', true)
              th.datagrid_right Ações
          tbody
            each rating in ratings
              tr
                td(data-label="Receita") #{rating.recipe.name}
                td(data-label="Nome") #{rating.name}
                td(data-label="Nota").datagrid_right #{rating.rate}
                td(data-label="Ativo").datagrid_center #{rating.active ? 'Sim' : 'Não'}
                td(data-label="Criado").datagrid_center #{rating.createdAt.toFormat('dd/MM/yyyy')}
                td(data-label="Atualizado").datagrid_center #{rating.updatedAt.toFormat('dd/MM/yyyy')}
                td(data-label="Ações").datagrid_right
                  div.datagrid_tools
                    +ButtonEdit({ callback: `handleOpenFormModal('${modalId}', '${rating.id}')`, name: '_culinary_rating_edit_button' })
                    +ButtonDelete({ callback: `handleOpenDeleteConfirm('${confirmId}', '${rating.id}')`, name: '_culinary_rating_delete_button' })
      |!{pagination(dynamicPugFilePathFromVariable)} 

|!{modal(dynamicPugFilePathFromVariable)}
|!{confirm(dynamicPugFilePathFromVariable)}

script.
  const handleOpenDeleteConfirm = (confirmId, id) => {
      if (id) {
        toggleConfirm(confirmId, `handleDeleteNewsletter('${id}')`);
      }
  }

  const handleDeleteNewsletter = (id) => {
    fetch(`/culinary/ratings/${id}`, {
          method: "DELETE",
          headers: {
              "Content-Type": "application/json",
          },
      })
    .then((res) => {
      if (!res.ok) throw new Error('Algo de errado aconteceu.');
      return res.json()
    })
    .then(json => {
      alert('Removido com sucesso');
      document.location.reload();
    })
    .catch((err) => {
      console.error(err);
      alert(err.message);
    });
  }

  _showButtonsWithPermission('CULINARY_RATING_UPDATE', '_culinary_rating_edit_button')
  _showButtonsWithPermission('CULINARY_RATING_DELETE', '_culinary_rating_delete_button')